<div class="w3l-breadcrumbs">
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
        <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
        </div>
    </nav>
</div>
<!--//breadcrumbs -->
<!-- /about-->
<div class="w3l-ab-grids py-5">
    <div class="container py-lg-4">
    <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->


</div>
        <div class="row ab-grids-sec align-items-center">
            <div class="col-lg-6 ab-right">
                <img class="img-fluid" src="assets/images/banner1.jpg">
            </div>
            <div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
                <h3 class="hny-title">ProShowz</h3>
                <p class="mt-3">Trang web của chúng tôi là nơi lý tưởng để bạn khám phá và tận hưởng hàng ngàn bộ phim đa thể loại, từ hành động, kinh dị, hài hước cho đến tình cảm lãng mạn. Với giao diện thân thiện, tốc độ tải nhanh và chất lượng video tuyệt vời, chúng tôi cam kết mang lại trải nghiệm xem phim trực tuyến tốt nhất.</p>
                <div class="ready-more mt-4">
                    <a routerLink="/" class="btn read-button">Xem phim ngay <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
       
        <div class="w3l-counter-stats-info text-center">
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <!-- <p class="counter">65</p> -->
                        <h4>Hơn 1000 bộ phim</h4>

                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <!-- <p class="counter">165</p> -->
                        <h4>Hơn 165 shows</h4>

                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <!-- <p class="counter">463</p> -->
                        <h4>Hơn 500 người dùng</h4>

                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <!-- <p class="counter">5063</p> -->
                        <h4>365 ngày hoạt động</h4>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //about-->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

</div>
    <!--grids-sec1-->
    
    <!--//grids-sec1-->
    <!--/testimonials-->

<!--//testimonials-->
    <!--grids-sec2-->
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">Mới phát hành</h3>
                        </div>
                        <div class="headerhny-right text-lg-right">
                            <h4><a class="show-title" href="genre.html">Show all</a></h4>
                        </div>
                    </div>
                </div>
                <div class="owl-three owl-carousel owl-theme">
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m12.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">The Hustle</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m11.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">The Lego</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m9.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Joker </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m8.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Toy story 4</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m1.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Rocketman</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m2.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Doctor Sleep</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--grids-sec2-->
    <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

</div>