<header id="site-header" class="w3l-header fixed-top">
	<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
	  <div class="container">
		<h1><a class="navbar-brand" href="index.html">
		  <span class="fa fa-play icon-log" aria-hidden="true"></span> ProShowz</a>
		</h1>
  
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="fa icon-expand fa-bars"></span>
		  <span class="fa icon-close fa-times"></span>
		</button>
  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			  <a class="nav-link" routerLink="/">Trang chủ</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" routerLink="/about">Về chúng tôi</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Thể loại <span class="fa fa-angle-down"></span>
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" routerLink="/phimbo">Phim Bộ</a>
				<a class="dropdown-item" routerLink="/phimle">Phim Lẻ</a>
				<a class="dropdown-item" routerLink="/hoathinh">Hoạt hình</a>
			  </div>
			</li>
  
			<!-- Dropdown cho người dùng -->
			<li class="nav-item dropdown" *ngIf="userName; else loginTemplate">
			  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Chào, {{ userName }} <span class="fa fa-angle-down"></span>
			  </a>
			  <div class="dropdown-menu" aria-labelledby="userDropdown">
				<a class="dropdown-item" [routerLink]="['/doimatkhau']">Đổi mật khẩu</a>
				<a class="dropdown-item" (click)="logout()">Đăng xuất</a>
			  </div>
			</li>
  
			<ng-template #loginTemplate>
			  <li class="nav-item">
				<a class="nav-link" routerLink="/login">Đăng Nhập</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" routerLink="/register">Đăng Ký</a>
			  </li>
			</ng-template>
		  </ul>
  
		  <!-- Thanh tìm kiếm trong header -->
		  <div class="search-right">
			<form (ngSubmit)="search()" class="search-box">
			  <input 
				type="search" 
				[(ngModel)]="searchKeyword" 
				name="searchKeyword" 
				placeholder="Tìm kiếm..." 
				required="required" 
				autofocus>
			  <button type="submit" class="btn">
				<span class="fa fa-search" aria-hidden="true"></span>
			  </button>
			</form>
		  </div>
		</div>
	  </div>
	</nav>
  </header>
  