<section class="w3l-text-8 genre-single">
  <div *ngIf="movie" class="container my-5">
    <div class="text-center">
      <img [src]="movie.poster_url" alt="{{ movie.name }}" class="img-fluid mb-4" style="max-width: 300px;" />
      <h1>{{ movie.name }}</h1>
    </div>
    <p><strong>Năm:</strong> {{ movie.year }}</p>
    <p><strong>Thể loại:</strong> {{ movie.category[0]?.name }}</p>
    <p><strong>Diễn viên:</strong> {{ movie.actor.join(', ') }}</p>
    <p><strong>Thời gian:</strong> {{ movie.time }}</p>
    <p><strong>Tổng số tập:</strong> {{ movie.episode_total }}</p>
  
    <div *ngIf="selectedEpisode" class="mt-4">
      <h3>Xem: {{ selectedEpisode.name }}</h3>
      <iframe [src]="safeUrl" width="100%" height="500px" frameborder="0" allowfullscreen></iframe>
    </div>

    <h2 class="mt-4">Chọn tập để xem:</h2>
    <div class="d-flex flex-column mb-4">
      <div *ngFor="let episode of episodes" class="mb-3">
        <h5>{{ episode.server_name }}</h5>
        <ul class="list-unstyled d-flex flex-row">
          <li *ngFor="let server of episode.server_data" class="me-2">
            <button class="btn btn-outline-primary" (click)="selectEpisode(server)">{{ server.name }}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>