/* Style cho component movie */
.episode-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  .episode-button:hover {
    background-color: #45a049;
  }
  
  .btn-watch {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn-watch:hover {
    background-color: #e67e22;
  }
  